

<article id="post">
    <h2><%=page.title%></h2>
      <% if (page.date) { %>
    <p>作者:<%=config.author%> &nbsp&nbsp 发布于:<time datetime="<%=page.date.toJSON()%>">
            <%=date(page.date)%>
      </time>
    </p>
      <% } %>

  
    <div class="post-page-content">
    <%-page.content%>
    </div>

      
  
  
  </article>
  