<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!--seo相关-->
  <% if (theme.seo.keywords && theme.seo.description){%>
  <meta name="keywords" content="<%=theme.seo.keywords%>">
  <meta name="description" content="<%=theme.seo.description%>">
  <% }%>
  <link type="text/css" rel="stylesheet" media="screen" href="http://oss.rainman.me/rainman.me/js/sakura/jquery-sakura.css" />
  <script>
    if( /Android|webOS|iPhone|iPod|iPad|BlackBerry/i.test(navigator.userAgent))
    {}
    else
    {  document.write('<script src="http://oss.rainman.me/rainman.me/js/sakura/jquery-sakura.js"><\/script><script type="text/javascript">$(function(){$("body").sakura()});$(window).load(function(){$("body").sakura()});<\/script>');}
    </script>
  <title><%=config.title%></title>
  <!--加载所有css模块-->
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  
  
  <style type="text/css">
  body{
    padding:0;
		margin:0;
		flex-direction: column!important;
		height: 100%;
		display: flex!important;
}
      html{
          font-family: sans-serif;
          font-weight: 300;
          height: 100%;
      }
      @font-face {
          font-family: 'Material Icons';
          font-style: normal;
          font-weight: 400;
          src: url(<%=config.root%>fonts/MaterialIcons-Regular.eot);
          src: url(<%=config.root%>fonts/MaterialIcons-Regular.woff2) format('woff2'),
          url(<%=config.root%>fonts/MaterialIcons-Regular.woff) format('woff'),
          url(<%=config.root%>fonts/MaterialIcons-Regular.ttf) format('truetype')
      }
  </style>
<link rel="shortcut icon" href="<%=theme.favicon%>">
    <!--加载valine评论模块-->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <!--加载不蒜子统计模块-->
    <% if(theme.visitor) { %>
      <script async src="/js/busuanzi.pure.mini.js"></script>
      <% } %> 
  
</head>
<body style="padding:0;margin:0;flex-direction: column!important;height: 100%;display: flex!important;">
  <%- body %>
  <center>
    <span id="jinrishici-sentence">正在加载今日诗词....</span>
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
    <br />
  </center>
<div id="menu-box"><a href="javascript:void(0)" id="menu" data-activates="slide-out" class="button-collapse menu" ><span class="nav-btn"></span></a></div>
<!--左边面板-->
<div id="menu-outer">
  <div id="menu-inner">
      <%-partial('partials/nav-left')%>
  </div>
</div>
<!--内容页-->

    <!-- body调index.ejs -->
  
    

<!--页尾-->
<!-- <div id="bottom-outer">
  <div id="bottom-inner">
    <%-partial('partials/footer')%>
  </div>
</div> -->

<%-partial('partials/footer')%>

<!--影集界面需要的资源-->
<!-- <% if(page.layout === 'photo') { %>

<% }%> -->


</body >
<!-- <script src="https://topurl.cn/chat.js"></script> -->

<!--加载脚本-->
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
  <script src="<%=url%>"></script>
  <% }); %>
  <% } %>
  <script>
    function color16(){//十六进制颜色随机
			var r = Math.floor(Math.random()*256);
			var g = Math.floor(Math.random()*256);
			var b = Math.floor(Math.random()*256);
			var color = '#'+r.toString(16)+g.toString(16)+b.toString(16);
			return color;
		}
    $("html,body").click(function(e) {
      var gcd = new Array("❤", "^_^", "自由", "和谐", "自由", "平等", "公正", "法治", "爱国", "敬业", "诚信", "友善");
      var n = Math.floor(Math.random() * gcd.length);
      var $i = $("<b/>").text(gcd[n]);
      var x = e.pageX,
      y = e.pageY;
      $i.css({
        "z-index": 99999,
        "top": y - 20,
        "left": x,
        "position": "absolute",
        "color": color16()
      });
      $("body").append($i);
      $i.animate({
        "top": y - 180,
        "opacity": 0
      },
      1500,
      function() {
        $i.remove()
      });
      e.stopPropagation()
    });
  </script>
<script>
    dowmdiv();
    NProgress.start();
    NProgress.done();
    lazy();
    links();
    window.onpopstate = menu();
    //pjax操作
    //$(document).pjax('a:not(.nopjax)', '#content-inner', {fragment:'#content-inner', timeout:8000});
    $(document).on('pjax:start', NProgress.start).on('pjax:end', NProgress.done)
        .on('pjax:end', () => {
            dowmdiv();
            lazy();
            toc();
            links();
            menu();
        });
</script>

</html>
