<div id="recent-posts">
  <% page.posts.each(function(post) { %>
<article >

<a  href="<%=config.root + post.path%>">
<div class="article-item">
  <div class="bk-image"   style="background-image: url('<%= post.thumbnail%>');"></div>

<div class="article-content">
<div class="article-text">
<h2 class="article-title"><%=post.title%></h2>
<div>
  <span><%=config.author%>·</span>
    <span>
    <time datetime="<%=post.date.toJSON()%>">
      <%=date(post.date)%>
    </time>·</span>
    <span>摘要：
      <%if(post.excerpt) {%>
        <%- strip_html(post.excerpt) %>
      <%}else{%>
        <%- strip_html(truncate(post.content,{length: theme.reading.entry_excerpt })) %>
      <%}%>
    </span>
</div>

</div>
</div>
</div>

</a>
</article>
<% }); %>
<%-partial('partials/pagination')%>
</div>



