<%- partial('plugin/toc', {post: post}) %> 

<div class="layout-post">
	<div id="layout-post">
		<div class="article-title">
			<%- partial('post/title', {post: post}) %>
		</div>

		<div class="article-meta">
			<span>
				<i class="icon-calendar1"></i>
				<%# partial('post/date', {post: post, type: 'publish'}) %>
				<%- partial('post/date', {post: post, type: 'update'}) %>
			</span>
			<span>
				<%- partial('post/tag', {post: post}) %>		
			</span>
			
			<%- partial('post-like') %>
		</div>

		<div class="article-content" id="article-content">
			<%- post.content %>	
		</div>
		
		<div id="current-post-cover" data-scr="<%- url_for(post.cover || theme.cover) %>"></div>

		<!-- relate post, comment...-->
		<div class="investment-container">
			<div class="investment-header">
				<div class="investment-title-1">
					<div class="on"><%= __('related_posts') %></div>
					<div><%= __('comment') %></div>
					<div><%= __('share') %></div>
				</div>
				<div class="investment-title-2">	            
					<%- partial('post/navigation', {type: 'narrow-navigation'}) %>  		
				</div>	
			</div>
			
			<div class="investment-content">
				<div class="investment-content-list">
					<%- partial('post-relate') %>	
				</div>
				<div class="investment-content-list">
					<%- partial('plugin/comment') %>
				</div>
				<div class="investment-content-list">
					<%- partial('plugin/share') %>
				</div>
			</div>	
		</div>
	</div>
</div>

<script>
	// onload是等所有的资源文件加载完毕以后再绑定事件
  window.onload = function(){
	  // 获取图片列表，即img标签列表
	  var imgs = document.querySelectorAll('.lazy-img');
  
	  // 获取到浏览器顶部的距离
	  function getTop(e){
		  return e.offsetTop;
	  }
  
	  // 懒加载实现
	  function lazyload(imgs){
		  // 可视区域高度
		  var h = window.innerHeight;
		  //滚动区域高度
		  var s = document.documentElement.scrollTop || document.body.scrollTop;
		  for(var i=0;i<imgs.length;i++){
			  //图片距离顶部的距离大于可视区域和滚动区域之和时懒加载
			  if ((h+s)>getTop(imgs[i])) {
				  // 真实情况是页面开始有2秒空白，所以使用setTimeout定时2s
				  (function(i){
					  setTimeout(function(){
						  // 不加立即执行函数i会等于9
						  // 隐形加载图片或其他资源，
						  //创建一个临时图片，这个图片在内存中不会到页面上去。实现隐形加载
						  var temp = new Image();
						  temp.src = imgs[i].getAttribute('data-src');//只会请求一次
						  // onload判断图片加载完毕，真是图片加载完毕，再赋值给dom节点
						  temp.onload = function(){
							  // 获取自定义属性data-src，用真图片替换假图片
							  imgs[i].src = imgs[i].getAttribute('data-src')
							  imgs[i].class = "img";
						  }
					  },2000)
				  })(i)
			  }
		  }
	  }
	  lazyload(imgs);
  
	  // 滚屏函数
	  window.onscroll =function(){
		  lazyload(imgs);
	  }
  }
  </script>
  



<%- partial('plugin/mathjax', {post: post}) %>

<%- partial('plugin/clipboard', {post: post, type: "code-copy"}) %>

<%- partial('post/gallery', {post: post}) %>